﻿HTML {
	DIRECTION: rtl;
}

BODY.c1 {
	font-family: "B Mitra";
	FONT-SIZE: 16pt;
	color: white;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#294123,endColorStr=#7b8f6a);
	MARGIN: 10px;
	BACKGROUND-COLOR: #294123
}

BODY.c2 {
	font-family: "B Lotus";
	FONT-SIZE: 16pt;
	color: black;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffc600,endColorStr=#fef9e8);
	MARGIN: 10px;
	BACKGROUND-COLOR: #fae7a5
}

BODY.c3 {
	font-family: "B Traffic";
	FONT-SIZE: 16pt;
	color: #00072b;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#6b7fe4,endColorStr=#e5e9fc);
	MARGIN: 10px;
	BACKGROUND-COLOR: #0022d0;
}

<!--//heading class 1 -->
h1.c1 {
	FONT-FAMILY: "B Zar", Times, serif;
	font-weight: bold;
}

h2.c1 {
	border-width: thin;
	border-color: #CCCC00;
	FONT-FAMILY: "B Zar", Times, serif;
	font-weight: bold;
	border-top-style: solid;
	border-bottom-style: solid;
	color: #FFD042;
}

h3.c1 {
	FONT-FAMILY: "B Yagut", Times, serif;
	font-weight: bold;
	color: #FF9900;
}

<!--//heading class 2 -->
h1.c2 {
	FONT-FAMILY: "B Zar", Times, serif;
	font-weight: bold;
}

h2.c2 {
	border-width: thin;
	border-color: #957103;
	FONT-FAMILY: "B Zar", Times, serif;
	font-weight: bold;
	border-top-style: solid;
	border-bottom-style: solid;
	color: #8a6e00;
}

h3.c2 {
	FONT-FAMILY: "B Yagut", Times, serif;
	font-weight: bold;
	color: #753d00;
}

<!--//heading clas 3 -->
h1.c3 {
	FONT-FAMILY: "B Zar", Times, serif;
	font-weight: bold;
}

h2.c3 {
	border-width: thin;
	border-color: #ffcc00;
	FONT-FAMILY: "B Zar", Times, serif;
	font-weight: bold;
	border-top-style: solid;
	border-bottom-style: solid;
	color: #fff000;/*00157e;*/
}

h3.c3 {
	FONT-FAMILY: "B Yagut", Times, serif;
	font-weight: bold;
	color: #005b8a;
}






H4 {
	FONT-FAMILY: "B Yagut", Times, serif;
	font-weight: bold;
}

H5 {
	FONT-FAMILY: "B Yagut", Times, serif;
	font-weight: bold;
}

H6 {
	FONT-FAMILY: "B Yagut", Times, serif;
	font-weight: bold;
}

h7 {
	FONT-FAMILY: "B Yagut", Times, serif;
	font-weight: bold;
}

h8 {
	FONT-FAMILY: "B Yagut", Times, serif;
	font-weight: bold;
}

h9 {
	FONT-FAMILY: "B Yagut", Times, serif;
	font-weight: bold;
}

.page_head3 {
	BORDER-RIGHT: #000099 1px solid; BORDER-TOP: #000099 1px solid; BORDER-LEFT: #000099 1px solid; WIDTH: 50%; COLOR: #003399; BACKGROUND-COLOR: #f0f1f7; TEXT-ALIGN: center
}

.myh {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #006600
}

IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}

.textCategory {
	BACKGROUND: #55dd99; COLOR: #ccffcc
}

TD {
	VERTICAL-ALIGN: top
}

TD.tdTextTitle {
	BACKGROUND-COLOR: #e2f7e2
}

TH {
	BACKGROUND-COLOR: #3c4a31
}

TH.thMenu {
	COLOR: #99aa99
}

TABLE.menu {
	
}

TABLE {
	font-size: 16pt;
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	BORDER-LEFT: 0px;
	BORDER-BOTTOM: 0px;
	BORDER-COLLAPSE: collapse;
}

TABLE.tform {
	BORDER-RIGHT: #999999 1px dashed;
	BORDER-TOP: #999999 1px dashed;
	BORDER-LEFT: #999999 1px dashed;
	WIDTH: auto;
	BORDER-BOTTOM: #999999 1px dashed;
}

TABLE.submenu {
	BACKGROUND-COLOR: #dddddd
}

TABLE.entryTable {
	BACKGROUND-COLOR: #c4d9c4
}

TD.overTr {
	CURSOR: hand;
	BACKGROUND-COLOR: #cceecc;
}

TD.outTr {
	TEXT-DECORATION: none
}

A {
	COLOR: #1b321b;
	TEXT-DECORATION: none;
}

A:hover {
	BORDER-TOP: 1px solid;
	BORDER-BOTTOM: 1px solid;
	BACKGROUND-COLOR: #cceecc;
}

A:visited {
	COLOR: #1b321b;
	TEXT-DECORATION: none;
}

P {
	text-align: justify;
}

.code {
	COLOR: #2233aa;
	DIRECTION: ltr;
	FONT-FAMILY: "Courier New", Courier, monospace;
}

.sootitr {
	BORDER-LEFT-COLOR: #336600;
	BORDER-BOTTOM-COLOR: #003366;
	BORDER-TOP-COLOR: #336600;
	BORDER-COLLAPSE: collapse;
	BORDER-RIGHT-COLOR: #003366;
}

.fnote {
	FONT-SIZE: 11px;
	COLOR: #006;
}

SPAN.snote {
	FONT-SIZE: 11px;
	COLOR: #808080;
}

TEXTAREA {
	WIDTH: 550px;
	HEIGHT: 405px;
}

TEXTAREA.summary {
	WIDTH: 550px;
	HEIGHT: 200px;
}

HR {
	WIDTH: 90%;
	COLOR: #8ea78e;
	HEIGHT: 1px;
}

.besm {
	text-align: center;
	font-family: Andalus;
	font-size: large;
}

p.withIndent {
	margin-right: 40px;
}

.alignLeft {
	margin-right: 40px;
	text-align: left;
}

li {
	margin-top: 5px;
}

.style1 {
	border-top-style: solid;
	border-top-width: 1px;
	border-color: gray;
}