HTML {
	DIRECTION: rtl
}
BODY {
	FONT-SIZE: 12px; color: white; FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#294123,endColorStr=#7b8f6a); MARGIN: 10px 0px 0px; FONT-FAMILY: tahoma; BACKGROUND-COLOR: #294123
}
H1 {
	FONT-FAMILY: "Times New Roman", Times, serif
}
H2 {
	FONT-FAMILY: "Times New Roman", Times, serif
}
H3 {
	FONT-FAMILY: "Times New Roman", Times, serif
}
H4 {
	FONT-FAMILY: "Times New Roman", Times, serif
}
H5 {
	FONT-FAMILY: "Times New Roman", Times, serif
}
H6 {
	FONT-FAMILY: "Times New Roman", Times, serif
}
h7 {
	FONT-FAMILY: "Times New Roman", Times, serif
}
h8 {
	FONT-FAMILY: "Times New Roman", Times, serif
}
h9 {
	FONT-FAMILY: "Times New Roman", Times, serif
}
H4 {
	COLOR: red
}
.page_head3 {
	BORDER-RIGHT: #000099 1px solid; BORDER-TOP: #000099 1px solid; BORDER-LEFT: #000099 1px solid; WIDTH: 50%; COLOR: #003399; BACKGROUND-COLOR: #f0f1f7; TEXT-ALIGN: center
}
.myh {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #006600
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.textCategory {
	BACKGROUND: #55dd99; COLOR: #ccffcc
}
TD {
	VERTICAL-ALIGN: top
}
TD.tdTextTitle {
	BACKGROUND-COLOR: #e2f7e2
}
TH {
	BACKGROUND-COLOR: #3c4a31
}
TH.thMenu {
	COLOR: #99aa99
}
TABLE.menu {
	
}
TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; FONT-FAMILY: Tahoma; BORDER-COLLAPSE: collapse
}
TABLE.tform {
	BORDER-RIGHT: #999999 1px dashed; BORDER-TOP: #999999 1px dashed; BORDER-LEFT: #999999 1px dashed; WIDTH: auto; BORDER-BOTTOM: #999999 1px dashed
}
TABLE.submenu {
	BACKGROUND-COLOR: #dddddd
}
TABLE.entryTable {
	BACKGROUND-COLOR: #c4d9c4
}
A:hover {
	BORDER-TOP: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #cceecc
}
TD.overTr {
	CURSOR: hand; BACKGROUND-COLOR: #cceecc
}
TD.outTr {
	TEXT-DECORATION: none
}
A {
	COLOR: #1b321b; TEXT-DECORATION: none
}
A:visited {
	COLOR: #1b321b; TEXT-DECORATION: none
}
P {
	
}
.code {
	COLOR: #2233aa; DIRECTION: ltr; FONT-FAMILY: "Courier New", Courier, monospace
}
.sootitr {
	BORDER-LEFT-COLOR: #336600; BORDER-BOTTOM-COLOR: #003366; BORDER-TOP-COLOR: #336600; BORDER-COLLAPSE: collapse; BORDER-RIGHT-COLOR: #003366
}
.fnote {
	FONT-SIZE: 11px; COLOR: #006
}
SPAN.snote {
	FONT-SIZE: 11px; COLOR: #808080
}
TEXTAREA {
	WIDTH: 550px; HEIGHT: 405px
}
TEXTAREA.summary {
	WIDTH: 550px; HEIGHT: 200px
}
HR {
	WIDTH: 90%; COLOR: #8ea78e; HEIGHT: 1px
}
